{% extends 'base.html' %}
{% block title %}Class overview{% endblock %}
{% block content %}
<h2>{{ c.name }}</h2>
<h3><i>{{ c.school }}</i></h3>
<h2><a href="{{ url_for('list_assessments', cid=c.cid) }}">Assessments</a></h2>
<h2>News</h2>
{% for i in newsposts_in_class(c.cid) %}
<h3>{{ i.title }}{% if can_create_newspost(c.cid) %} <a href="{{ url_for('delete_newspost', postid=i.postid) }}"><small>(delete)</small></a> {% endif %}</h3> 
<p>{{ i.content }}</p>
{% endfor %}
<h2>Members</h2>
<table class="table table-striped table-bordered table-hover sortable filterable">
    <tr>
        <th>Username</th><th>Role</th>
    </tr>
    {% for i in list_class_members(c.cid) %}
    <tr>
        <td>{{ i.username }}</td>
        <td>{% if user_is_teacher(c.cid, i.uid) %}Teacher{% else %}Student{% endif %}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
