{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="offset3 span6 well text-center">
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Username..." />
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password..." />
        <br>
        <input type="submit" class="btn" value="Login" />
    </form>
    New here? <a href="{{ url_for('register') }}">Create an account!</a>
</div>
{% endblock %}

