{% extends 'base.html' %}
{% block content %}
<h1>{{ assessment.name }}</h1>
<h2>{{ get_class(assessment.cid).name }}</h2>
<hr />
{% for item in get_questions(assessment.aid) %}
    <i>{{ item.qtitle }}</i>
    <br />
    {% if item.qtype == 0 %}
        {% for index, value in enumerate(item.get_mc_answers()) %}
        <span class="form-inline">
            <label class="radio">
                <input name="mc-{{ item.itemid }}" type="radio" value="{{ index }}" id="mc-{{ item.itemid }}-{{ index }}"/>
                {{ value }}
            </label>
        </span>
        <br />
        {% endfor %}
    {% else %}
    <textarea rows="10" style="width:50%" name="writing-{{ item.itemid }}"></textarea>
    {% endif %}
    <br />
{% endfor %}
{% endblock %}
